<template>
  <b-container>
    <b-form>
        <b-form-group
            label-cols-sm="4"
            label-cols-lg="3"
            content-cols-sm
            content-cols-lg="7"
            label="First name:"
        >
            <b-form-input
                v-model="employer.fname"
                placeholder="First name"
            />
        </b-form-group>
        <b-form-group
            label-cols-sm="4"
            label-cols-lg="3"
            content-cols-sm
            content-cols-lg="7"
            label="Last name:"
        >
            <b-form-input
                v-model="employer.sname"
                placeholder="First name"
            />
        </b-form-group>
        <b-form-group
            label-cols-sm="4"
            label-cols-lg="3"
            content-cols-sm
            content-cols-lg="7"
            label="Surname:"
        >
            <b-form-input
                v-model="employer.pname"
                placeholder="First name"
            />
        </b-form-group>
        <b-button
            @click="save"
            variant="primary"
        >
          Save
        </b-button>
    </b-form>
  </b-container>
</template>

<script>
    import {mapState} from 'vuex';
    import EmployerService from '@/service/EmployerService';

    export default {
        name: 'CreateEmployer',
        computed: {
            ...mapState({
                token:  state => state.user.token
            }),
        },
        data() {
            return {
                employer: {
                    fname: '',
                    sname: '',
                    pname: '',
                }
            }
        },
        methods: {
            save() {
                EmployerService.save(this.token, this.employer)
                  .then(() => {
                    this.$router.push('/employers')
                });
            }
        }
    };
</script>

<style scoped>

</style>