<template>
  <div>
    <b-button variant="primary" href="/employers/create">New Employer</b-button>
    <b-table
        striped
        hover
        :fields="fields"
        :items="employers"
    >
      <template #cell(actions)="row">
        <b-button size="sm" variant="warning" @click="editEmployer(row.item.id)" class="mr-1">
          Edit employer
        </b-button>
        <b-button size="sm" variant="danger" @click="deleteEmployer(row.item.id)">
          Delete Employer
        </b-button>
      </template>
    </b-table>
    <b-pagination
        :value="paginate.currentPage"
        :total-rows="paginate.total"
        :per-page="paginate.perPage"
        @input="changePage"
    ></b-pagination>
  </div>
</template>

<script>
    import {mapActions, mapState} from 'vuex';
    import EmployerService from '@/service/EmployerService';

    export default {
        name: 'Employers',
        computed: {
            ...mapState({
                employers: state => state.employers.employers,
                paginate: state => state.employers.paginate,
                token: state => state.user.token,
            }),
        },
        mounted() {
          this.setEmployers({
            token: this.token,
            id: 1
          })
        },
        data() {
            return {
                fields: [
                    {
                        key: 'fname', label: 'First name'
                    },
                    {
                        key: 'sname', label: 'Last name'
                    },
                    {
                        key: 'pname', label: 'Surname',
                    },
                    {
                        key: 'actions', label: 'Actions'
                    }
                ],
            }
        },
        methods: {
            ...mapActions({
                setEmployers: 'employers/setEmployers',
            }),
            changePage(payload) {
                this.setEmployers({
                    token: this.token,
                    id: payload
                })
            },
            editEmployer(id) {
                this.$router.push(`/employers/${id}`);
            },
            deleteEmployer(id) {
                EmployerService.deleteEmployer(this.token, id)
                    .then(() => {
                        this.setEmployers({
                          token: this.token,
                          id: this.paginate.currentPage
                        })
                    })
            }
        }
    };
</script>

<style scoped>

</style>