<template>
  <b-row
      align-v="center"
      align-h="center"
  >
    <b-form>
      <b-form-group
          id="input-group-1"
          label="Email address:"
          label-for="input-1"
          description="We'll never share your email with anyone else."
      >
        <b-form-input
            id="input-1"
            v-model="form.email"
            type="email"
            placeholder="Enter email"
            required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="Password:" label-for="input-2">
        <b-form-input
            id="input-2"
            v-model="form.password"
            placeholder="Enter password"
            required
        ></b-form-input>
      </b-form-group>

      <b-button @click="login" variant="primary">Login</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
  </b-row>
</template>

<script>
    import LoginService from '@/service/LoginService';
    import {mapActions} from 'vuex';

    export default {
       name: 'Login',
        data() {
            return {
                form: {
                    email: '',
                    password: '',
                }
           }
        },
        methods: {
            ...mapActions({
                setToken: 'user/setToken',
            }),
            login() {
                LoginService.login(this.form)
                    .then((response) => {
                        this.setToken(response.data.token);
                        this.$router.push('/employers');
                    })
            },
            onReset() {

            }
        }
    }
</script>

<style scoped>

</style>