<template>
    <b-container>
      <div>
        <b-form
            inline
        >
          <label
              class="sr-only"
          >
            Search
          </label>
          <b-form-input
              class="mb-2 mr-sm-2 mb-sm-0"
              v-model="search"
              placeholder="Jane Doe"
          />
          <b-button
              variant="primary"
              @click="searchEmployers"
          >
            Search
          </b-button>
        </b-form>
      </div>
      <b-table
          v-if="searchEmployersData.length"
          :items="searchEmployersData"
      />
    </b-container>
</template>

<script>
    import {mapActions, mapState} from 'vuex';

    export default {
        name: 'SearchEmployers',
        computed: {
            ...mapState({
              searchEmployersData: state => state.employers.searchEmployers,
              token: state => state.user.token,
            }),
        },
        data() {
            return {
                search: '',
            }
        },
        methods: {
            ...mapActions({
              setSearchEmployers: 'employers/setSearchEmployers',
            }),
            searchEmployers() {
                this.setSearchEmployers({
                    token: this.token,
                    search: this.search,
                });
            },
        }
    };
</script>

<style scoped>

</style>