<template>
  <b-container>
    <b-form>
      <b-form-group
          label-cols-sm="4"
          label-cols-lg="3"
          content-cols-sm
          content-cols-lg="7"
          label="First name:"
      >
        <b-form-input
            v-model="employer.fname"
            placeholder="First name"
        />
      </b-form-group>
      <b-form-group
          label-cols-sm="4"
          label-cols-lg="3"
          content-cols-sm
          content-cols-lg="7"
          label="Last name:"
      >
        <b-form-input
            v-model="employer.sname"
            placeholder="First name"
        />
      </b-form-group>
      <b-form-group
          label-cols-sm="4"
          label-cols-lg="3"
          content-cols-sm
          content-cols-lg="7"
          label="Surname:"
      >
        <b-form-input
            v-model="employer.pname"
            placeholder="First name"
        />
      </b-form-group>
      <b-button
          @click="update"
          variant="primary"
      >
        Save
      </b-button>
    </b-form>
  </b-container>
</template>

<script>
  import {mapActions, mapState} from 'vuex';
  import EmployerService from '@/service/EmployerService';

  export default {
      name: 'UpdateEmployer',
      computed: {
          ...mapState({
            token: state => state.user.token,
            employer: state => state.employers.employer,
          }),
      },
      mounted() {
          this.getEmployer(this.$router.currentRoute.params.id);
      },
      methods: {
          ...mapActions({
              setEmployer: 'employers/setEmployer',
          }),
          getEmployer(id) {
              this.setEmployer({
                  token: this.token,
                  id: id,
              });
          },
          update() {
            EmployerService.updateEmployer(this.token, this.$router.currentRoute.params.id, this.employer)
                .then(() => {
                    this.$router.push('/employers');
            });
          },
      },
  };
</script>

<style scoped>

</style>